*{
  box-sizing: border-box;
}

body {
  width: 100%;
}

section {
  margin: 50px;
}

span {
  font-size: 40px;
  margin-left: 50%;
}

.textbox {
  margin-bottom: 100px;
}

.forecast-cards {
  /* justify-content: space-between; */
}
